@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  width: 100%;
  background-color: $orange;

  .logo {
    align-self: center;
    margin-left: 1rem;;
    color: $brown;
    font-weight: bold;
    font-size: 18px;
  }

  .header-menu {
    display: flex;

    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      margin-right: 1rem;
      color: $brown;
      font-weight: bold;
    }
  }

  .active {
    color: $active-color !important;
  }

}

