$active-color: rgb(243, 245, 220);
$orange: rgb(255, 102, 0);
$btn-green: rgb(70, 145, 36);
$green-hover: rgb(75, 177, 28);
$bcg-personage: greenyellow;
$bcg-list: rgb(221, 180, 105);
$brown: rgb(39, 21, 21);